<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <setting id="debug" type="bool" label="Enable debugging mode" default="false"/>
    <setting id="steam-id" type="text" label="Your Steam user id"/>
    <setting id="steam-key" type="text" label="Your Steam web API key"/>
    <setting id="steam-path" type="executable" label="Path to your Steam executable"/>
    <setting id="steam-args" type="text" label="Arguments to pass to your Steam executable"/>
</settings>
